html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'GlacialIndifferenceRegular';
    font-size: 20px;
    font-weight: 300;
    color: rgb(3, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

header, footer {
    font-family: 'Cantora One', sans-serif;
    font-size : 20px;
    text-transform: uppercase;
    color:white;
}

body,
header,
footer{
  width: 100%;
  overflow-x: hidden;
}

.mv-back-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999999;
  display:flex;
  opacity: 50%;
}

/*Navbar Related*/
.navbar {
  padding: 0px 0px;
  background-color: black;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.navbar-brand img{
  max-width:220px;
}

.muskvision-header
{
  height: 90px;
}

.nav-link, a
{
    color:#F2F2F2;
    cursor: pointer;
}

.mv-btn-nav {
  font-family: 'Cantora One', sans-serif;
  font-size: 20px;
  color: #ffff;
  letter-spacing: 1px;
  border: 2px solid #ffff;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mv-btn-nav:hover {
  color: #1a1a1a;
  background: #ffff;
  border: 2px solid #ffff;
}

/*Footer Related*/
.footer-copyright {
    text-transform:none;
    font-size:17px;
    font-family:'GlacialIndifferenceRegular';
}

/*Particles Related*/
#particles-js {
  position : absolute;
  width:100%;
  height:92%;
}

a:hover, .active
{
    color: #bfbfbf;
}

/*Headings*/
h2.mv-heading2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

h3.mv-heading3
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.mv-icons{
    width:100px;
}

.mv-icon-large{
    width:200px;
}

.mv-icon-large-1{
    width:300px;
}

.mv-icon-large-2{
    width:250px;
    height:250px;
}

.mv-description{
  font-size:larger;
}

/*Copy Button*/
#mv-copy-button, #mv-mar-copy-button, #mv-dev-copy-button
{
    color:#004d00;
    cursor: pointer;
}

#mv-copy-button-buy
{
    color:#004d00;
    cursor: pointer;
}

/*Sections Common properties*/
.mv-main-tokenomics,
.muskvision-buy,
.mv-main-mission,
.muskvision-community,
.mv-main-roadmap,
.mv-main-contact-form
{
  padding: 0% 2% 4% 2%;
}

#mv-home::before,
#mv-tokenomics::before,
#mv-buy::before,
#mv-vision::before,
#mv-tokeninfo::before,
#mv-comm::before,
#mv-contact::before {
display: block;
content: " ";
/* margin-top: -110px; */
/* height: 110px; */
visibility: hidden;
}

#mv-contract-address, #mv-market-contract-address, #mv-dev-contract-address
{
  font-size: 19px;
  display:block;
  width:100%;
  word-wrap:break-word;
}

/*Home Section*/
.mv-btn {
  font-family: 'GlacialIndifferenceRegular';
  font-size: 25px;
  color: #1A1A1A;
  letter-spacing: 1px;
  border: 2px solid #1A1A1A;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mv-btn:hover {
  color: #ffff;
  background: #1a1a1a;
  border: 2px solid #1A1A1A;
}

.muskvision-home{
  padding: 0% 2% 5% 2%;
}
    
.mv-transaction-home{
  padding: 0% 2% 4% 2%;
  height: 50%;
}


/*Token Info Section*/
.mv-main-tokeninfo{
  background-image: url("https://musksvision.com/img/info-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  background-attachment: fixed;
}

.token-info-heading{
  padding: 2% 0% 0% 0%;   
}

.muskvision-tokeninfo{
  color: white;
}

.muskvision-tokeninfo
{
  padding: 0% 2% 10% 2%;
}

.muskvision-tokeninfo-border
{
  border:solid;
  border-color:#343a4000;
}

.price-widget{
  margin-top: 5%;
}

.nomics-ticker-widget-embedded{
  margin: auto;
}

.token-distribution{
  margin-top: 5%;	
}

.token-distribution-img{
  width: 50%;
}

.token-chart-distribution-heading{
  padding: 2% 0% 3% 0%;  
}

/*Ecosystem(Tokenomics) Section CSS*/
.mv-main-tokenomics{
  background-image: url("https://musksvision.com/img/tokenomics-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
}

.tokenomics-feature-box {
max-width: 360px;
min-height: 500px;
border-radius: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
transition:all 0.3s ease;
box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
position: relative;
background-color: rgba(255, 255, 255, 0.8);
padding: 10% 3% 2% 3%;
}

.tokenomics-feature-box:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}

.mv-description-tokenomics-main{
    font-size:larger;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
}

h3.mv-tokenomics-heading-main{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

/*How To Buy Section*/
.mv-main-htb{
  background-image: url("https://musksvision.com/img/htb-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: white;
}

.htb-feature-box {
max-width: 360px;
min-height: 100%;
border-radius: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
transition:all 0.3s ease;
box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.08);
position: relative;
background-color: rgba(0, 0, 0, 0.4);
padding: 3% 3% 3% 3%;
}

.htb-feature-box:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}

.mv-buy-img{
  width:40%;
}

.mv-description-htb{
  padding: 3% 0% 3% 6%;
  text-align: left;
  min-height: 325px;
  margin-top: 5%;
}

/*Community Section*/
.mv-main-community{
  background-image: url("https://musksvision.com/img/community-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width: 100%;
}

.mv-description-comm{
    font-size:larger;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 85%;
    padding-left: 15%;
}

h3.mv-comm-heading-main
{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 2px;
}

/*Mission Section*/
.mv-main-mission
{
  background-image: url("https://musksvision.com/img/vision-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: white;
}

.mission-feature-box {
max-width: 600px;
min-height: 25%;
border-radius: 20px;
text-align: left;
margin-left: auto;
margin-right: auto;
transition:all 0.3s ease;
box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.05);
position: relative;
background-color: rgba(0, 0, 0, 0.8);
padding: 3% 3% 3% 3%;
margin-bottom: 8%;
}

.mission-feature-box:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}

.vision-img{
  width: 60%;
}

.vision-img-box{
  text-align: center;
}

/*Roadmap Section*/
.mv-main-roadmap
{
  background-image: url("https://musksvision.com/img/roadmap-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: black;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);   
}

.card.card-carousel {
    margin-left: auto; 
    margin-right: auto;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px ;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 80%;
    opacity: 0.9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card.card-carousel img{
    border-radius: 6px;
}



.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators {
    bottom: 5px;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 2px;
}

.carousel .carousel-indicators .active{
    margin: 11px 10px;
}

.carousel .carousel-indicators li {
    margin: 11px 10px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100% !important;
    transition: transform .6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-item.active {
    display: block;
}

.carousel .carousel-caption {
    padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

.carousel .carousel-control-next .material-icons{
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

.carousel .carousel-control-prev .material-icons {
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

/* Contact Form */
.mv-main-contact-form{
  background-color: black;
  color: white;
}

#contact-form{
  margin-left: auto;
  margin-right: auto;
}

.mv-form-element{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.contact-us-heading{
  margin-left: auto;
  margin-right: auto;
}

/* Small devices (landscape phones, 576px and down) */
@media only screen and (max-width: 600px) {  
  .navbar {
    font-size: 82%;
  }

  .token-distribution-img{
    width: 100%;
  }

  .token-chart-distribution-heading{
    font-size: 90%;
    padding: 10% 0% 3% 0%;   
  }
    
  .mv-icon-large{
    width:50%;
  }

  .mv-description-tokenomics-main{
    font-size:95%;
  }

  .mv-description-comm{
    font-size:95%;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 15%;
    width: 100%;
    padding-left: 0%;
  }

  .mv-vision-description{
    font-size: 95%
  }

  h3.mv-comm-heading-main
  {
    font-family: 'Oswald', sans-serif;
    font-size: 147%;
    font-weight: bold;
  }

  h3.mv-tokenomics-heading-main
  {
    font-family: 'Oswald', sans-serif;
    font-size: 147%;
    font-weight: bold;
    padding-top: 6%;
  }

  .mv-description {
    font-size: 98%;
  }

  .token-info-heading{
    font-size: 95%;
  }
    
  .mv-buy-img{
    width:40%;
  }

  .htb-feature-box{
    min-height: 100%;
    font-size: 95%;
  }

  .mv-description-htb {
    min-height: 270px;
    font-size: 95%
  }

  .mv-description-tokenomics {
    font-size: 95%;
    min-height: 230px;
  }

  .tokenomics-feature-box {
    min-height: 100%;
  }

  .mission-feature-box {
    min-height: 26%;
    font-size: 95%;
    margin-bottom: 12%
  }

  .vision-img{
    width: 20%;
    text-align: center;
  }

  .vision-img-box{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .card.card-carousel {
    width: 100%;
  }
    
  .carousel .carousel-indicators {
    bottom: -15px;
  }

  .mv-main-tokeninfo{
    background-image: url("https://musksvision.com/img/info-bg-sm.png");
    background-size: unset;
    background-attachment: unset;
    color: white;
    background-repeat: repeat-y;
  }

  .mv-main-tokenomics{
    background-image: url("https://musksvision.com/img/tokenomics-bg-sm.png");
    background-size: unset;
    background-attachment: unset;
    background-repeat: repeat-y;
  }
  
  .mv-main-community{
    background-image: url("https://musksvision.com/img/community-bg-sm.png");
    background-attachment: unset;
  }
  
  .mv-main-htb{
    background-image: url("https://musksvision.com/img/htb-bg-sm.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
    background-repeat: repeat-y;
  }
  
  .mv-main-mission{
    background-image: url("https://musksvision.com/img/vision-bg-sm.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
  }
    
 .mv-main-roadmap{
    background-image: url("https://musksvision.com/img/roadmap-bg-sm.png");
    background-attachment: unset;
  }
 }

 /* Medium devices (tablets, 600px and 768px) */
@media only screen and (min-width: 601px) and (max-width: 767px) { 
  .navbar {
    font-size: 82%;
  }

  .mission-feature-box {
    min-height: 25%;
    font-size: 95%;
    margin-bottom: 8%
  }

  .vision-img{
    width: 20%;
    text-align: center;
  }

  .vision-img-box{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .mv-main-mission{
    background-image: url("https://musksvision.com/img/vision-bg-md.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .navbar {
    font-size: 82%;
  }

  .htb-feature-box{
    min-height: 100%;
    font-size: 85%;
  }

  .mission-feature-box {
    min-height: 25%;
    font-size: 95%;
  }

  .vision-img{
    width: 20%;
    text-align: center;
  }

  .vision-img-box{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .mv-description-htb {
    min-height: 300px;
  }
    
  .tokenomics-feature-box {
    min-height: 105%;
    font-size: 85%;
  }
    
  .mv-description-comm{
    width: 100%;
    padding-left: 0%;
  }

  .mv-main-mission{
    background-image: url("https://musksvision.com/img/vision-bg-md.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
  }

  .mv-buy-img{
    width:30%;
  }

  .mv-icons{
    width:30%;
  }

  .mv-description-tokenomics {
    font-size: 95%;
  }

  .mv-description-htb {
    font-size: 95%
  }

  #particles-js {
  position : absolute;
  width:100%;
  height:45%;
  }
}

/* Medium devices (901px to 1000px) */
@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .navbar {
    font-size: 82%;
  }

  .htb-feature-box{
    min-height: 100%;
    font-size: 90%;
  }

  .mission-feature-box {
    min-height: 25%;
    font-size: 95%;
  }

  .mv-description-htb {
    min-height: 340px;
  }

  .tokenomics-feature-box {
    min-height: 105%;
    font-size: 90%;
  }
  
  .mv-description-comm{
    width: 100%;
    padding-left: 0%;
  }

  .vision-img{
    width: 20%;
    text-align: center;
  }

  .vision-img-box{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .mv-main-mission{
    background-image: url("https://musksvision.com/img/vision-bg-mdl.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
  }
}

/* Medium devices (1001px to 1100px) */
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  .navbar {
    font-size: 82%;
  }

  .htb-feature-box{
    min-height: 100%;
    font-size: 95%;
  }

  .mission-feature-box {
    min-height: 25%;
    font-size: 95%;
    margin-bottom: 5%;
  }

  .mv-description-htb {
    min-height: 350px;
  }

  .tokenomics-feature-box {
    min-height: 105%;
    font-size: 95%;
  }
  
  .mv-main-mission{
    background-image: url("https://musksvision.com/img/vision-bg-mdxl.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
  }
}

