html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'GlacialIndifferenceRegular';
    font-size: 20px;
    font-weight: 300;
    color: rgb(3, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.navbar {
  height: 85px;
  padding: 0px 0px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 10px;
}

.muskvision-header
{
  height: 127px;
}

header, footer {
    font-family: 'Cantora One', sans-serif;
    font-size : 20px;
    text-transform: uppercase;
    color:white;
}

.footer-copyright {
    text-transform:none;
    font-size:17px;
    font-family:'GlacialIndifferenceRegular';
}

#particles-js {
  position : absolute;
  width:100%;
  height:100%;
}

.nav-link, a
{
    color:#F2F2F2;
    cursor: pointer;
}

a:hover, .active
{
    color: #bfbfbf;
}

h2.mv-heading2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

h3.mv-heading3
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h3.mv-comm-heading-main
{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 2px;
}

h3.mv-tokenomics-heading-main{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.mv-icons{
    width:100px;
}

.mv-icon-large{
    width:200px;
}

.mv-icon-large-1{
    width:300px;
}

.mv-icon-large-2{
    width:250px;
    height:250px;
}

.mv-buy-img{
  width:50%;
}

.mv-description{
  font-size:larger;
}

.mv-description-htb{
  padding: 3% 0% 3% 6%;
  text-align: left;
  min-height: 325px;
  margin-top: 5%;
}

.mv-description-tokenomics-main{
    font-size:larger;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
}

.mv-description-comm{
    font-size:larger;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 85%;
    padding-left: 15%;
}

#mv-copy-button
{
    color:#004d00;
    cursor: pointer;
}

#mv-copy-button-buy
{
    color:black;
    cursor: pointer;
}

#mv-home::before,
#mv-tokenomics::before,
#mv-buy::before,
#mv-vision::before,
#mv-tokeninfo::before,
#mv-comm::before,
#mv-contact::before {
display: block;
content: " ";
/* margin-top: -110px; */
/* height: 110px; */
visibility: hidden;
}

#mv-contract-address
{
  font-size: 19px;
  display:block;
  width:100%;
  word-wrap:break-word;
}

body,
header,
footer{
  width: 100%;
  overflow-x: hidden;
}

.mv-btn {
  font-family: 'GlacialIndifferenceRegular';
  font-size: 25px;
  color: #1A1A1A;
  letter-spacing: 1px;
  border: 2px solid #1A1A1A;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mv-btn:hover {
  color: #ffff;
  background: #1a1a1a;
  border: 2px solid #1A1A1A;
}

.mv-btn-nav {
  font-family: 'Cantora One', sans-serif;
  font-size: 20px;
  color: #ffff;
  letter-spacing: 1px;
  border: 2px solid #ffff;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mv-btn-nav:hover {
  color: #1a1a1a;
  background: #ffff;
  border: 2px solid #ffff;
}

 .mv-back-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999999;
  display:flex;
  opacity: 50%;
}

.mv-main-tokeninfo{
  background-image: url("https://musksvision.com/img/info-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  background-attachment: fixed;
}

.mv-main-tokenomics{
  background-image: url("https://musksvision.com/img/tokenomics-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
}

.mv-main-community{
  background-image: url("https://musksvision.com/img/community-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width: 100%;
}

.mv-main-htb{
  background-image: url("https://musksvision.com/img/htb-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: white;
}

.mv-main-mission
{
  background-image: url("https://musksvision.com/img/vision-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: white;
}

.muskvision-tokeninfo{
  color: white;
}

.muskvision-home{
  padding: 0% 2% 7% 2%;
}
    
.muskvision-tokeninfo
{
  padding: 0% 2% 10% 2%;
}

.muskvision-tokeninfo-border
{
  border:solid;
  border-color:#343a4000;
}

.mv-main-tokenomics,
.muskvision-buy,
.mv-main-mission,
.muskvision-community
{
  padding: 0% 2% 4% 2%;
}

.mv-transaction-home{
  padding: 0% 2% 4% 2%;
  height: 50%;
}

.token-info-heading{
  padding: 2% 0% 0% 0%;   
}

.tokenomics-feature-box {
max-width: 360px;
min-height: 500px;
border-radius: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
transition:all 0.3s ease;
box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
position: relative;
background-color: rgba(255, 255, 255, 0.8);
padding: 10% 3% 2% 3%;
}

.tokenomics-feature-box:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}

.htb-feature-box {
max-width: 360px;
min-height: 100%;
border-radius: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
transition:all 0.3s ease;
box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.08);
position: relative;
background-color: rgba(0, 0, 0, 0.4);
padding: 3% 3% 3% 3%;
}

.htb-feature-box:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}

/* Small devices (landscape phones, 576px and down) */
@media only screen and (max-width: 600px) {  
  .mv-icon-large{
    width:50%;
  }

  .mv-description-tokenomics-main{
    font-size:95%;
  }

  .mv-description-comm{
    font-size:95%;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 15%;
    width: 100%;
    padding-left: 0%;
  }

  .mv-vision-description{
    font-size: 95%
  }

  h3.mv-comm-heading-main
  {
    font-family: 'Oswald', sans-serif;
    font-size: 147%;
    font-weight: bold;
  }

  h3.mv-tokenomics-heading-main
  {
    font-family: 'Oswald', sans-serif;
    font-size: 147%;
    font-weight: bold;
    padding-top: 6%;
  }

  .mv-description {
    font-size: 98%;
  }

  .token-info-heading{
    font-size: 95%;
  }
    
  .mv-buy-img{
    width:40%;
  }

  .htb-feature-box{
    min-height: 100%;
    font-size: 95%;
  }

  .mv-description-htb {
    min-height: 270px;
    font-size: 95%
  }

  .mv-description-tokenomics {
    font-size: 95%;
    min-height: 230px;
  }

  .tokenomics-feature-box {
    min-height: 100%;
  }

  .mv-main-tokeninfo{
    background-image: url("https://musksvision.com/img/info-bg-sm.png");
    background-size: unset;
    background-attachment: unset;
    color: white;
    background-repeat: repeat-y;
  }

  .mv-main-tokenomics{
    background-image: url("https://musksvision.com/img/tokenomics-bg-sm.png");
    background-size: unset;
    background-attachment: unset;
    background-repeat: repeat-y;
  }
  
  .mv-main-community{
    background-image: url("https://musksvision.com/img/community-bg-sm.png");
    background-size: unset;
    background-attachment: unset;
  }
  
  .mv-main-htb{
    background-image: url("https://musksvision.com/img/htb-bg-sm.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
    background-repeat: repeat-y;
  }
  
  .mv-main-mission{
    background-image: url("https://musksvision.com/img/vision-bg-sm.png");
    color: white;
    background-size: unset;
    background-attachment: unset;
  }
 }

/* Medium devices (1001px to 1100px) */
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  .htb-feature-box{
    min-height: 100%;
    font-size: 95%;
  }

  .mv-description-htb {
    min-height: 350px;
  }

  .tokenomics-feature-box {
    min-height: 105%;
    font-size: 95%;
  }
}

/* Medium devices (901px to 1000px) */
@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .htb-feature-box{
    min-height: 100%;
    font-size: 90%;
  }

  .mv-description-htb {
    min-height: 340px;
  }

  .tokenomics-feature-box {
    min-height: 105%;
    font-size: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 900px) { 
    .htb-feature-box{
    min-height: 100%;
    font-size: 85%;
  }

  .mv-description-htb {
    min-height: 300px;
  }
    
  .tokenomics-feature-box {
    min-height: 105%;
    font-size: 85%;
  }
}
