html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'GlacialIndifferenceRegular';
    font-size: 20px;
    font-weight: 300;
    color: rgb(3, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.muskvision-header
{
  height: 100px;
}

header, footer {
    font-family: 'Cantora One', sans-serif;
    font-size : 20px;
    text-transform: uppercase;
    color:white;
}

.footer-copyright {
    text-transform:none;
    font-size:17px;
    font-family:'GlacialIndifferenceRegular';
}

#particles-js {
  position : absolute;
  width:100%;
  height:80%;
  /* z-index:-1; */
}

.nav-link, a
{
    color:#F2F2F2;
    cursor: pointer;
}

a:hover, .active
{
    color: #bfbfbf;
}

h2.mv-heading2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

h3.mv-heading3
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h3.mv-heading3-large
{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
}


.mv-icons{
    width:100px;
    height:100px;
}

.mv-icon-large{
    width:200px;
    height:200px;
}

.mv-icon-large-1{
    width:300px;
}

.mv-icon-large-2{
    width:250px;
    height:250px;
}

.mv-buy-img{
  width:85%;
}

.mv-description{
  font-size:larger;
    
}

.mv-description-htb{
  padding: 3% 0% 3% 6%;
  text-align: left;
}

.mv-description-large{
    font-size:larger;

}

#mv-copy-button
{
    color:#004d00;
    cursor: pointer;
}

#mv-home::before,
#mv-tokenomics::before,
#mv-buy::before,
#mv-vision::before,
#mv-tokeninfo::before,
#mv-comm::before,
#mv-contact::before {
display: block;
content: " ";
/* margin-top: -110px; */
/* height: 110px; */
visibility: hidden;
}

#mv-contract-address
{
  font-size: 19px;
  display:block;
  width:100%;
  word-wrap:break-word;
}

body,
header,
footer{
  width: 100%;
  overflow-x: hidden;
}

.mv-btn {
  font-family: 'GlacialIndifferenceRegular';
  font-size: 25px;
  color: #1A1A1A;
  letter-spacing: 1px;
  border: 2px solid #1A1A1A;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mv-btn:hover {
  color: #ffff;
  background: #1a1a1a;
  border: 2px solid #1A1A1A;
}

.mv-btn-nav {
  font-family: 'Cantora One', sans-serif;
  font-size: 20px;
  color: #ffff;
  letter-spacing: 1px;
  border: 2px solid #ffff;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mv-btn-nav:hover {
  color: #1a1a1a;
  background: #ffff;
  border: 2px solid #ffff;
}

 .mv-back-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999999;
  display:flex;
  opacity: 50%;
}

.mv-main-tokeninfo{
  background-image: url("https://musksvision.com/img/info-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  background-attachment: fixed;
}

.mv-main-tokenomics{
  background-image: url("https://musksvision.com/img/tokenomics-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
}

.mv-main-community{
  background-image: url("https://musksvision.com/img/community-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width: 100%;
}

.mv-main-htb{
  background-image: url("https://musksvision.com/img/htb-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: white;
}

.mv-main-mission
{
  background-image: url("https://musksvision.com/img/vision-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  color: white;
}

.muskvision-tokeninfo{
  color: white;
}

.muskvision-home{
  padding: 0% 2% 7% 2%;
}
    
.muskvision-tokeninfo
{
  padding: 0% 2% 10% 2%;
}

.mv-main-tokenomics,
.muskvision-buy,
.mv-main-mission,
.muskvision-community
{
  padding: 0% 2% 4% 2%;
}

.mv-transaction-home{
  padding: 0% 2% 4% 2%;
  height: 500px;
}

.token-info-heading{
  padding: 2% 0% 0% 0%;   
}

.htb-feature-box {
max-width: 360px;
min-height: 670px;
border-radius: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
transition:all 0.3s ease;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
position: relative;
background-color: rgba(255, 255, 255, 0.2);
padding: 3% 3% 3% 3%;
}

.htb-feature-box:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .mv-main-tokenomics{
    background-size: auto;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

